---
export const prerender = false;

import Container from "@/layouts/Container.astro";
import { JoinWizard } from "@/components/JoinWizard";
import { auth } from "@/lib/auth/server";

const session = await auth.api.getSession({ headers: Astro.request.headers });
if (!session) {
  return Astro.redirect("/auth/register");
}
---

<Container title="Join The Club">
  <div class="mx-auto max-w-2xl">
    <JoinWizard client:only="react" />
  </div>
</Container>
