---
export const prerender = false;

import Container from "@/layouts/Container.astro";
import { SimpleInput } from "@/components/form/SimpleInput";
import TextArea from "@/components/form/TextArea.astro";
import { actions } from "astro:actions";

const result = Astro.getActionResult(actions.join);
if (result && !result.error) {
  return Astro.redirect(
    `/auth/register?email=${encodeURIComponent(result.data.email)}&name=${encodeURIComponent(result.data.name)}`,
  );
}
if (result?.error) {
  console.error(result.error);
}
---

<Container title="Join The Club">
  <div class="mx-auto max-w-max rounded-lg bg-white p-4 shadow">
    <div class="flex flex-col items-center">
      <h4 class="mb-8">Join Percy Main Cricket and Sports Club</h4>
      <form class="lg:w-[720px]" method="POST" action={actions.join}>
        <section class="mb-8">
          <h5 class="mb-4">Getting To Know You</h5>
          <SimpleInput id="title" label="Title" required transition:persist />
          <SimpleInput id="name" label="Name" required transition:persist />
          <TextArea id="address" label="Address" required transition:persist />
          <SimpleInput
            id="postcode"
            label="Postcode"
            required
            transition:persist
          />
          <SimpleInput
            id="dob"
            label="Date of Birth"
            type="date"
            required
            transition:persist
          />
        </section>

        <section class="mb-8">
          <h5 class="mb-4">Let's Stay In Touch</h5>
          <SimpleInput
            id="telephone"
            label="Telephone"
            type="tel"
            required
            transition:persist
          />
          <SimpleInput
            id="email"
            label="Email"
            type="email"
            required
            transition:persist
          />
        </section>

        <section class="mb-8">
          <h5 class="mb-4">Keeping You Safe</h5>
          <p>
            We'd like to know some details of an emergency contact so we can
            help ensure you stay safe at the club. All information is strictly
            confidential and kept in accordance with our privacy policy.
          </p>
          <SimpleInput
            id="emerg_name"
            label="Contact Name"
            required
            transition:persist
          />
          <SimpleInput
            id="emerg_phone"
            label="Contact Telephone"
            type="tel"
            required
            transition:persist
          />
        </section>

        <button
          type="submit"
          class="w-full rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none sm:w-auto dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Submit
        </button>
        {
          result?.error && (
            <p class="mt-6">Sorry we encountered an error saving your data.</p>
          )
        }
      </form>
    </div>
  </div>
</Container>
