---
export const prerender = false;

import Container from "@/layouts/Container.astro";
import { auth } from "@/lib/auth/server";

const session = await auth.api.getSession({ headers: Astro.request.headers });
if (!session) {
  return Astro.redirect("/auth/register");
}
---

<Container title="Join The Club">
  <div class="mx-auto max-w-2xl">
    <div id="join-wizard"></div>
  </div>
</Container>

<script>
  import { createElement } from "react";
  import { createRoot } from "react-dom/client";
  import { JoinWizard } from "@/components/JoinWizard";

  const el = document.getElementById("join-wizard");
  if (el) {
    createRoot(el).render(createElement(JoinWizard));
  }
</script>
