---
import Container from "@/layouts/Container.astro";
import { PayMembership } from "@/components/PayMembership";
import { getCollection } from "astro:content";
import stripeConfig from "~/stripe.json";

const prices = await getCollection("price");
const seniorPlayerMonthly = prices.find(
  (price) =>
    price.data.product.id === stripeConfig.product.subs_player &&
    price.data.mode === "subscription"
);
const seniorPlayerAnnual = prices.find(
  (price) =>
    price.data.product.id === stripeConfig.product.subs_player &&
    price.data.mode === "payment"
);
const socialMonthly = prices.find(
  (price) =>
    price.data.product.id === stripeConfig.product.subs_social &&
    price.data.mode === "subscription"
);
const socialAnnual = prices.find(
  (price) =>
    price.data.product.id === stripeConfig.product.subs_social &&
    price.data.mode === "payment"
);

const options = {
  senior_player: {
    name: "Senior Player",
    monthly: seniorPlayerMonthly!.data,
    annually: seniorPlayerAnnual!.data,
  },
  social: {
    name: "Social",
    monthly: socialMonthly!.data,
    annually: socialAnnual!.data,
  },
};
---

<Container title="You've Joined!">
  <div class="flex flex-col items-center w-full">
    <div class="flex flex-col">
      <h4>Thanks for joining the club!</h4>
      <PayMembership client:load options={options} />
    </div>
  </div>
</Container>
