---
import Container from "@/layouts/Container.astro";
import { PayMembership } from "@/components/PayMembership";
import { getCollection } from "astro:content";
import stripeConfig from "~/stripe.json";

export async function getStaticPaths() {
  const prices = await getCollection("price");
  const seniorPlayerMonthly = prices.find(
    (price) =>
      price.data.product.id === stripeConfig.product.subs_player &&
      price.data.mode === "subscription"
  );
  const seniorPlayerAnnual = prices.find(
    (price) =>
      price.data.product.id === stripeConfig.product.subs_player &&
      price.data.mode === "payment"
  );
  const socialMonthly = prices.find(
    (price) =>
      price.data.product.id === stripeConfig.product.subs_social &&
      price.data.mode === "subscription"
  );
  const socialAnnual = prices.find(
    (price) =>
      price.data.product.id === stripeConfig.product.subs_social &&
      price.data.mode === "payment"
  );

  return [
    {
      params: { membership: "senior_player" },
      props: {
        membership: {
          name: "Senior Player",
          monthly: seniorPlayerMonthly!.data,
          annually: seniorPlayerAnnual!.data,
        },
      },
    },
    {
      params: { membership: "social" },
      props: {
        membership: {
          name: "Social",
          monthly: socialMonthly!.data,
          annually: socialAnnual!.data,
        },
      },
    },
  ];
}

const { membership } = Astro.props;
---

<Container title="You've Joined!">
  <div class="flex flex-col items-center w-full">
    <div class="flex flex-col max-w-[600px]">
      <h4>Thanks for joining the club!</h4>
      <p>
        <span class="font-bold">Your membership category:</span>
        {membership.name}
      </p>

      <PayMembership
        client:load
        monthly={membership.monthly}
        annually={membership.annually}
      />
    </div>
  </div>
</Container>
