---
import LinkButton from "../../components/LinkButton.astro";
import Base from "../../layouts/Base.astro";
---

<Base title="Members Area">
  <h1>Members Area</h1>
  <LinkButton href="/logout" text="Logout" id="link-button" />
</Base>
