---
import Base from "@/layouts/Base.astro";
import SimpleInput from "@/components/form/SimpleInput.astro";
import DatePicker from "@/components/form/DatePicker.astro";
import TextArea from "@/components/form/TextArea.astro";
import RadioButtons from "../components/form/RadioButtons.astro";
---

<Base title="Join The Club">
  <div class="flex flex-col items-center">
    <h4 class="mb-8">Join Percy Main Cricket and Sports Club</h4>
    <form class="lg:w-[720px]">
      <section class="mb-8">
        <h5 class="mb-4">Getting To Know You</h5>
        <SimpleInput id="title" label="Title" required />
        <SimpleInput id="name" label="Name" required />
        <TextArea id="address" label="Address" required />
        <SimpleInput id="postcode" label="Postcode" required />
        <DatePicker id="dob" label="Date of Birth" required />
      </section>

      <section class="mb-8">
        <h5 class="mb-4">Let's Stay In Touch</h5>
        <SimpleInput id="telephone" label="Telephone" type="tel" required />
        <SimpleInput id="email" label="Email" type="email" required />
      </section>

      <section class="mb-8">
        <h5 class="mb-4">Keeping You Safe</h5>
        <p>
          We'd like to know some details of an emergency contact so we can help
          ensure you stay safe at the club. All information is strictly
          confidential and kept in accordance with our privacy policy.
        </p>
        <SimpleInput id="emergency_name" label="Contact Name" required />
        <SimpleInput
          id="emergency_telephone"
          label="Contact Telephone"
          type="tel"
          required
        />
      </section>

      <section class="mb-8">
        <h5 class="mb-4">Your Membership</h5>
        <p>
          Choose the category of membership for which you would like to apply.
        </p>
        <RadioButtons
          id="membership"
          required
          options={[
            {
              title: "Senior Player",
              description:
                "For all senior playing members. Payable as £150/annum, or £15/month",
              value: "senior_player",
            },
            {
              title: "Social",
              description:
                "For supporters and friends of the club. Payable as £50/annum",
              value: "social",
            },
          ]}
        />
      </section>
      <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Submit
      </button>
    </form>
  </div>
</Base>
