---
import type { GetStaticPathsOptions } from "astro";
import { getCollection } from "astro:content";
import _ from "lodash";
import NewsPage from "@/components/NewsPage.astro";
import Container from "@/layouts/Container.astro";
import { Breadcrumbs } from "astro-breadcrumbs";
import { IoChevronForward } from "react-icons/io5";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const news = await getCollection("news");

  const tags = _.uniqBy(
    news.flatMap((n) => n.data.pages),
    (p) => p.id
  ).map((tag) => ({
    ...tag,
    slug: tag.slug.replaceAll("/", "_"),
  }));

  const tagPages = _.groupBy(
    news.flatMap((n) =>
      n.data.pages.map((p) => ({
        ...n,
        tag: p.slug.replaceAll("/", "_"),
      }))
    ),
    (p) => p.tag
  );

  return paginate(news, {
    pageSize: 5,
    props: {
      tags: tags.map((tag) => ({
        ...tag,
        slug: tag.slug.replaceAll("/", "_"),
        count: tagPages[tag.slug]?.length ?? 0,
        isActive: false,
      })),
    },
  });
}

const { page, tags } = Astro.props;
---

<Container title="News">
  <div
    class="text-h4 [&_ol]:flex [&_ol]:items-center [&_ol]:gap-2 [&_ol>li]:flex [&_ol>li]:items-center [&_ol>li]:gap-2 mb-4"
    slot="breadcrumbs"
  >
    <Breadcrumbs
      linkTextFormat="capitalized"
      crumbs={[
        {
          text: "News",
          href: "#",
        },
      ]}
    >
      <IoChevronForward slot="separator" />
    </Breadcrumbs>
  </div>

  <NewsPage
    articles={page.data.map((article) => ({ id: article.id, ...article.data }))}
    page={page}
    tags={tags}
  />
</Container>
