---
import { Checkout } from "@/components/Checkout";
import { PurchaseCheckout } from "@/components/PurchaseCheckout";
import Container from "@/layouts/Container.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const prices = await getCollection("price");
  return Object.values(prices).map((price) => ({
    params: { priceId: price.id },
    props: {
      price,
    },
  }));
}

const { price } = Astro.props;
---

<Container title={`${price.data.product.name} :: Checkout`}>
  {
    price.data.mode === "subscription" ? (
      <Checkout client:only="react" price={price.data} />
    ) : (
      <div class="mx-auto max-w-md">
        <PurchaseCheckout client:only="react" price={price.data} />
      </div>
    )
  }
</Container>
