---
import { PurchaseCheckout } from "@/components/PurchaseCheckout";
import { SubscriptionCheckout } from "@/components/SubscriptionCheckout";
import Container from "@/layouts/Container.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const prices = await getCollection("price");
  return Object.values(prices).map((price) => ({
    params: { priceId: price.id },
    props: {
      price,
    },
  }));
}

const { price } = Astro.props;
---

<Container title={`${price.data.product.name} :: Checkout`}>
  <div class="mx-auto max-w-md">
    {
      price.data.mode === "subscription" ? (
        <SubscriptionCheckout client:only="react" price={price.data} />
      ) : (
        <PurchaseCheckout client:only="react" price={price.data} />
      )
    }
  </div>
</Container>
