---
import { RichText } from "@/components/RichText";
import { formatDate } from "date-fns";
import { IoChevronForward } from "react-icons/io5";

type Props = {
  id: string;
  title: string;
  when: Date;
  summary: string;
};

const { id, title, when, summary } = Astro.props;
---

<div class="bg-white rounded-lg shadow-md border p-4 h-full flex flex-row">
  <div class="flex flex-col">
    <div>
      <div>
        <h4 class="text-lg font-semibold mb-1">{title}</h4>
        <p class="text-gray-500 text-sm">{formatDate(when, "PPPP")}</p>
      </div>
    </div>
    <p class="text-gray-700 mt-4">
      <RichText page="" document={summary} />
    </p>
  </div>

  <a
    href={`/news/article/${id}`}
    class="self-stretch flex flex-col items-center justify-center"
    aria-label="Read the full article"
  >
    <IoChevronForward
      className="text-gray-700 hover:text-gray-400"
      fontSize={32}
    />
  </a>
</div>
