---
import { formatDate } from "date-fns";
import type { Event } from "@/collections/event";
import { IoCalendar, IoChevronForward } from "react-icons/io5";

type Props = {
  id: string;
  event: Event;
};

const { id, event } = Astro.props;
---

<div class="flex flex-col items-stretch justify-between">
  <div class="flex flex-row gap-4">
    <IoCalendar title="Event" fontSize={32} />
    <h4 class="text-lg font-semibold">
      {formatDate(event.when, "dd/MM/yyyy")}
    </h4>
  </div>
  <div class="flex flex-row gap-4 mt-4 items-center justify-between">
    <p class="text-sm">
      {event.name}
    </p>

    <a
      href={`/calendar/event/${id}`}
      class="self-stretch flex flex-col items-center justify-center"
    >
      <IoChevronForward
        className="text-gray-700 hover:text-gray-400"
        fontSize={32}
        aria-label="Read more about this event"
      />
    </a>
  </div>
</div>

<div>
  <div class="w-full"></div>
</div>
