---
import Social from "./Social.astro";
---

<footer
  class="footer sticky top-full w-full bg-linear-to-t from-blue-100 to-creamy text-dark"
>
  <div class="container">
    <div class="gx-5 pb-10 pt-[52px] flex flex-col lg:flex-row justify-between">
      <div>
        <Social />
      </div>
      <div class="content">
        <p>Percy Main Cricket Club</p>
        <p>St. Johns Terrace</p>
        <p>North Shields</p>
        <p>NE29 6HS</p>
        <a href="mailto:trustees@percymain.org">trustees@percymain.org</a>
      </div>
    </div>
  </div>
  <div class="container max-w-[1440px]">
    <div class="footer-copyright mx-autopt-7 text-center">
      <a
        href="https://register-of-charities.charitycommission.gov.uk/en/charity-search/-/charity-details/5231516/charity-overview"
        class="content"
      >
        Registered Charity 1206787
      </a>
    </div>
    <div
      class="footer-copyright mx-auto pb-10 flex flex-col items-center gap-4"
    >
      <p class="content">Copyright 2024 Percy Main Cricket and Sports Club</p>
      <p>
        <a
          class="underline text-blue-950 hover:text-blue-600"
          href="/legal/privacy"
          title="Privacy Policy">Privacy Policy</a
        >
      </p>

      <div slot="footer">
        <a href="https://www.contentful.com/" rel="nofollow" target="_blank">
          <img
            class="w-28"
            src="https://images.ctfassets.net/fo9twyrwpveg/44baP9Gtm8qE2Umm8CQwQk/c43325463d1cb5db2ef97fca0788ea55/PoweredByContentful_LightBackground.svg"
            alt="PoweredbyContentful"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
