---
import Logo from "./Logo.astro";
import Social from "./Social.astro";
---

<footer class="footer bg-[#F1F1F1] sticky top-full">
  <div class="container">
    <div class="gx-5 row pb-10 pt-[52px]">
      <div class="col-12 mt-12 md:col-6 lg:col-3"></div>
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <Social />
      </div>
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <p>Percy Main Cricket Club</p>
        <p>St. Johns Terrace</p>
        <p>North Shields</p>
        <p>NE29 6HS</p>
        <a href="mailto:trustees@percymain.org">trustees@percymain.org</a>
      </div>
    </div>
  </div>
  <div class="container max-w-[1440px]">
    <div
      class="footer-copyright mx-auto border-t border-border pt-7 text-center"
    >
      <a
        href="https://register-of-charities.charitycommission.gov.uk/en/charity-search/-/charity-details/5231516/charity-overview"
        class="content text-text"
      >
        Registered Charity 1206787
      </a>
    </div>
    <div
      class="footer-copyright mx-auto border-t border-border pb-10 text-center"
    >
      <p class="content text-text">
        Copyright 2024 Percy Main Cricket and Sports Club
      </p>
    </div>
  </div>
</footer>
