---
import { Image } from "astro:assets";
import type { Game } from "@/collections/game";
import { formatDate } from "date-fns";
import { IoChevronForward } from "react-icons/io5";

type Props = {
  id: string;
  game: Game;
  sponsorshipPriceId: string;
};

const { id, game, sponsorshipPriceId } = Astro.props;
---

<h2>
  {game.team} versus {game.opposition}{" "}
  {game.home ? "(H)" : "(A)"}
</h2>
<p class="text-lg font-semibold">
  {formatDate(game.when, "dd/MM/yyyy")}
</p>
<p>{game.league}</p>

{
  game.hasSponsor ? (
    <p class="justify-self-start py-2 px-4 mt-2 bg-green-500 text-dark rounded text-sm">
      Sponsor: {game.sponsor?.name ?? "Pending"}
    </p>
  ) : (
    <div class="justify-self-start mt-2 py-2 px-4  bg-blue-500 hover:bg-blue-700 text-white rounded text-sm">
      <a
        href={`/purchase/${sponsorshipPriceId}?metadata=${JSON.stringify({ gameId: id })}`}
      >
        Sponsor This Game
      </a>
    </div>
  )
}
