---
type Props = astroHTML.JSX.AnchorHTMLAttributes & {
  text: string;
};

const { text, ...anchorProps } = Astro.props;
---

<div
  class="justify-self-start mt-2 py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white rounded-sm text-sm"
>
  <a {...anchorProps}>
    {text}
  </a>
</div>
