---
type Props = astroHTML.JSX.AnchorHTMLAttributes & {
  text: string;
};

const { text, ...anchorProps } = Astro.props;
---

<div
  class="mt-2 justify-self-start rounded-sm bg-blue-500 px-4 py-2 text-sm text-white hover:bg-blue-700"
>
  <a {...anchorProps}>
    {text}
  </a>
</div>
