---
import { Image } from "astro:assets";
---

<a href="/" class="navbar-brand block">
  <Image
    width={100}
    height={100}
    src="/images/club_logo.png"
    alt="Club logo"
    style={{
      height: "100px",
      width: "100px",
    }}
  />
</a>
