---
import { Image } from "astro:assets";

type Props = {
  size?: "sm" | "md" | "lg";
};

const { size = "md" } = Astro.props;

const sizeClasses = {
  sm: "h-8 w-8",
  md: "h-[52px] w-[52px]",
  lg: "h-24 w-24",
};
---

<a href="/" class="navbar-brand block">
  <Image
    width={200}
    height={200}
    src="/images/club_logo.png"
    alt="Club logo"
    class={sizeClasses[size]}
    loading="eager"
  />
</a>
