---
import { Image } from "astro:assets";
---

<a href="/" class="navbar-brand block">
  <Image
    width={200}
    height={200}
    src="/images/club_logo.png"
    alt="Club logo"
    class="w-[100px] h-[100px]"
    loading="eager"
  />
</a>
