---
import {
  IoLocation,
  IoLogoFacebook,
  IoLogoGithub,
  IoLogoLinkedin,
  IoLogoTiktok,
} from "react-icons/io5";
---

<ul class="mt-4 lg:mt-6">
  <li class="mr-2 inline-block">
    <a
      aria-label="facebook"
      href="https://www.facebook.com/Percymaincricketclub"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="hover:bg-primary [&>svg]:m-auto[&>svg]:h-11 [&_svg]:fill-dark inline-flex h-11 w-11 items-center justify-center rounded-full bg-white text-center transition-all duration-200 [&_path]:transition-all [&_path]:duration-200 hover:[&_svg]:fill-white [&>svg]:text-xl"
    >
      <IoLogoFacebook />
    </a>
  </li>

  <li class="mr-2 inline-block">
    <a
      aria-label="location"
      href="https://maps.app.goo.gl/qQ5bFRqxoDYVvzdz9"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="hover:bg-primary [&>svg]:m-auto[&>svg]:h-11 [&_svg]:fill-dark inline-flex h-11 w-11 items-center justify-center rounded-full bg-white text-center transition-all duration-200 [&_path]:transition-all [&_path]:duration-200 hover:[&_svg]:fill-white [&>svg]:text-xl"
    >
      <IoLocation />
    </a>
  </li>

  <li class="mr-2 inline-block">
    <a
      aria-label="linkedin"
      href="https://www.linkedin.com/company/percy-main-cricket-and-sports-club"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="hover:bg-primary [&>svg]:m-auto[&>svg]:h-11 [&_svg]:fill-dark inline-flex h-11 w-11 items-center justify-center rounded-full bg-white text-center transition-all duration-200 [&_path]:transition-all [&_path]:duration-200 hover:[&_svg]:fill-white [&>svg]:text-xl"
    >
      <IoLogoLinkedin />
    </a>
  </li>

  <li class="mr-2 inline-block">
    <a
      aria-label="github"
      href="https://github.com/percy-main/web"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="hover:bg-primary [&>svg]:m-auto[&>svg]:h-11 [&_svg]:fill-dark inline-flex h-11 w-11 items-center justify-center rounded-full bg-white text-center transition-all duration-200 [&_path]:transition-all [&_path]:duration-200 hover:[&_svg]:fill-white [&>svg]:text-xl"
    >
      <IoLogoGithub />
    </a>
  </li>

  <li class="mr-2 inline-block">
    <a
      aria-label="tiktok"
      href="https://www.tiktok.com/@percymaincricketclub"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="hover:bg-primary [&>svg]:m-auto[&>svg]:h-11 [&_svg]:fill-dark inline-flex h-11 w-11 items-center justify-center rounded-full bg-white text-center transition-all duration-200 [&_path]:transition-all [&_path]:duration-200 hover:[&_svg]:fill-white [&>svg]:text-xl"
    >
      <IoLogoTiktok />
    </a>
  </li>
</ul>
