---
import { IoLocation, IoLogoFacebook } from "react-icons/io5";
// TODO - hrefs
---

<ul class="social-icons mt-4 lg:mt-6">
  <li class="inline-block">
    <a
      aria-label="facebook"
      href=""
      target="_blank"
      rel="noopener noreferrer nofollow"
    >
      <IoLogoFacebook />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="location"
      href="PMCSC"
      target="_blank"
      rel="noopener noreferrer nofollow"
    >
      <IoLocation />
    </a>
  </li>
</ul>
