---
import { IoLocation, IoLogoFacebook, IoLogoLinkedin } from "react-icons/io5";
// TODO - hrefs
---

<ul class="social-icons mt-4 lg:mt-6">
  <li class="inline-block">
    <a
      aria-label="facebook"
      href="https://www.facebook.com/Percymaincricketclub"
      target="_blank"
      rel="noopener noreferrer nofollow"
    >
      <IoLogoFacebook />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="location"
      href="https://maps.app.goo.gl/qQ5bFRqxoDYVvzdz9"
      target="_blank"
      rel="noopener noreferrer nofollow"
    >
      <IoLocation />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="location"
      href="https://www.linkedin.com/company/percy-main-cricket-and-sports-club"
      target="_blank"
      rel="noopener noreferrer nofollow"
    >
      <IoLogoLinkedin />
    </a>
  </li>
</ul>
