---
import type { Game } from "@/collections/game";
import { paymentData } from "@/lib/payments/config";
import { PaymentLink } from "@/components/PaymentLink";
import { isAfter } from "date-fns";

type Props = {
  id: string;
  game: Game;
};

const { id, game } = Astro.props;
---

{
  game.sponsor ? (
    <div class="flex w-max flex-col items-start">
      <p class="text-dark mt-2 px-4 py-2 text-center text-sm">
        Sponsored by
        <br />
        <span class="text-lg font-bold">{game.sponsor.name}</span>
      </p>
    </div>
  ) : isAfter(game.when, new Date()) ? (
    <div class="mt-4 justify-self-start rounded bg-blue-500 px-4 py-2 text-sm text-white hover:bg-blue-700">
      <PaymentLink
        priceId={paymentData.prices.sponsorship}
        metadata={{ type: "sponsorGame", gameId: id }}
      >
        Sponsor This Game
      </PaymentLink>
    </div>
  ) : null
}
