---
import type { Game } from "@/collections/game";
import { paymentData } from "@/lib/payments/config";
import { PaymentLink } from "@/components/PaymentLink";

type Props = {
  id: string;
  game: Game;
};

const { id, game } = Astro.props;
---

{
  game.hasSponsor ? (
    <p class="text-dark mt-2 justify-self-start rounded-sm bg-green-500 px-4 py-2 text-sm">
      Sponsor: {game.sponsor?.name ?? "Pending"}
    </p>
  ) : (
    <div class="justify-self-start mt-4 py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white rounded text-sm">
      <PaymentLink
        priceId={paymentData.prices.sponsorship}
        metadata={{ type: "sponsorGame", gameId: id }}
      >
        Sponsor This Game
      </PaymentLink>
    </div>
  )
}
