---
import Base, { type Props as BaseProps } from "./Base.astro";

type Props = BaseProps;

const { title } = Astro.props;
---

<Base title={title} description=`Percy Main Cricket and Sports Club - ${title}`>
  <slot slot="ldjson" name="ldjson" />
  <slot slot="footer" name="footer" />
  <div class="container p-4 pt-6">
    <slot name="breadcrumbs" />
    <slot />
  </div>
</Base>
