---
import Base, { type Props as BaseProps } from "./Base.astro";

type Props = BaseProps;

const { title } = Astro.props;
---

<Base title={title} description=`Percy Main Community Sports Club - ${title}`>
  <slot slot="ldjson" name="ldjson" />
  <div class="container scroll-mt-96 p-4 pt-6" id="container">
    <div style="font-family: var(--font-secondary), serif;">
      <slot name="breadcrumbs" />
    </div>
    <slot />
  </div>
</Base>
