---
import Container from "@/layouts/Container.astro";

type MenuLink = {
  title: string;
  link: string;
};

type Props = {
  title: string;
  menu?: {
    items: Array<MenuLink & { children: MenuLink[] }>;
  };
};

const { title } = Astro.props;
---

<Container
  title={title}
  description=`Percy Main Cricket and Sports Club - ${title}`
>
  <slot slot="ldjson" name="ldjson" />
  <div class="flex flex-col">
    <slot name="breadcrumbs" />
    <div class="flex flex-col md:flex-row">
      <slot name="menu" />
      <slot />
    </div>
  </div>

  <div slot="footer">
    <a href="https://www.contentful.com/" rel="nofollow" target="_blank">
      <img
        class="w-28"
        src="https://images.ctfassets.net/fo9twyrwpveg/44baP9Gtm8qE2Umm8CQwQk/c43325463d1cb5db2ef97fca0788ea55/PoweredByContentful_LightBackground.svg"
        alt="PoweredbyContentful"
      />
    </a>
  </div>
</Container>
