---
import Container from "@/layouts/Container.astro";

type MenuLink = {
  title: string;
  link: string;
};

type Props = {
  title: string;
  menu?: {
    items: Array<MenuLink & { children: MenuLink[] }>;
  };
};

const { title } = Astro.props;
---

<Container
  title={title}
  description=`Percy Main Community Sports Club - ${title}`
>
  <slot slot="ldjson" name="ldjson" />
  <div class="flex flex-col">
    <div style="font-family: var(--font-secondary), serif;">
      <slot name="breadcrumbs" />
    </div>
    <div class="flex flex-col md:flex-row">
      <slot name="menu" />
      <slot />
    </div>
  </div>
</Container>
