---
import { SimpleInput } from "../form/SimpleInput";
---

<section>
  <div class="mx-auto flex flex-col items-center px-6 md:h-screen lg:py-0">
    <div
      class="w-full rounded-lg bg-white shadow-sm sm:max-w-md md:mt-0 md:p-0 dark:border dark:border-gray-700 dark:bg-gray-800"
    >
      <div class="space-y-4 p-6 sm:p-8 md:space-y-6">
        <h1
          class="text-xl leading-tight font-bold tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
          Sign in to your account
        </h1>
        <form class="space-y-4 md:space-y-6" id="signin-form">
          <SimpleInput id="email" type="email" label="Email" required />
          <SimpleInput
            id="password"
            type="password"
            label="Password"
            required
          />
          <div class="flex items-center justify-end">
            <a
              href="#"
              class="text-primary-600 dark:text-primary-500 text-sm font-medium hover:underline"
              >Forgot password?</a
            >
          </div>
          <button
            type="submit"
            class="focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 w-full rounded-lg bg-blue-500 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-700 focus:ring-4 focus:outline-hidden"
            >Sign in</button
          >
          <p id="login-error" class="text-sm font-light text-red-800"></p>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Don't have an account yet? <a
              href="/membership/join"
              class="text-primary-600 dark:text-primary-500 font-medium hover:underline"
              >Sign up</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  import { authClient } from "@/lib/auth/client";
  const form: HTMLFormElement = document.getElementById(
    "signin-form",
  ) as HTMLFormElement;

  const errorHolder: HTMLParagraphElement = document.getElementById(
    "login-error",
  ) as HTMLParagraphElement;

  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    const data = new FormData(event.target as HTMLFormElement);

    const email = data.get("email")?.toString() ?? "";
    const password = data.get("password")?.toString() ?? "";

    const response = await authClient.signIn.email({
      email,
      password,
    });

    if (response.error) {
      errorHolder.innerHTML = `
            ${response.error.message}
        `;
    } else {
      window.location.href = "/members";
    }
  });
</script>
