---
import SimpleInput from "../form/SimpleInput.astro";
---

<section class="bg-gray-50 dark:bg-gray-900">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
          Register An Account
        </h1>
        <form class="space-y-4 md:space-y-6" id="register-form">
          <SimpleInput id="name" type="text" label="Name" required />
          <SimpleInput id="email" type="email" label="Email" required />
          <SimpleInput
            id="password"
            type="password"
            label="Password"
            required
          />
          <div class="flex items-center justify-between">
            <button
              type="submit"
              class="w-full text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
              >Register</button
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  import { authClient } from "@/lib/auth/client";
  const form: HTMLFormElement = document.getElementById(
    "register-form"
  ) as HTMLFormElement;

  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    const data = new FormData(event.target as HTMLFormElement);

    const name = data.get("name")?.toString() ?? "";
    const email = data.get("email")?.toString() ?? "";
    const password = data.get("password")?.toString() ?? "";

    const tmp = await authClient.signUp.email({
      name,
      email,
      password,
    });

    if (Boolean(tmp.error) === false) window.location.href = "/";
  });
</script>
